<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Index of [dir]</title>
</head>
<body>
<h1>Index of [dir]</h1>
<br>
<table>
    <tr>
        <th style="text-align: left;">Name</th>
        <th style="text-align: right;">Last modified</th>
        <th style="text-align: right;">Size</th>
    </tr>
    <tr>
        <th colspan="3">
            <hr>
        </th>
    </tr>
    ~entries[
    <tr>
        <td style="word-break: break-all; min-width: 300px;"><a href="/[path]">[name]</a></td>
        <td style="text-align: right; min-width: 200px; vertical-align: top;">[last_modified]</td>
        <td style="text-align: right; min-width: 200px; vertical-align: top;">[size]</td>
    </tr>
    ]
    <tr>
        <th colspan="3">
            <hr>
        </th>
    </tr>
</table>
<p>[custom_message]</p>
</body>
</html>